@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        font-family: 'Times New Roman', serif;
    }
</style>
<ul>
    <li>BSc</li>
    <ul>
        <li>Institiute: American International University-Bangladesh, Dhaka</li>
        <li>Year: 2025</li>
        <li>Group: Computer Science and Engineering</li>
        <li>CGPA: 3.75</li>
    </ul>
    <li>HSC</li>
    <ul>
        <li>Institiute: Kumuduni Govt College, Tangail</li>
        <li>Year: 2019</li>
        <li>Group: General Science</li>
        <li>GPA: 4.83</li>
    </ul>
    <li>SSC</li>
    <ul>
        <li>Institiute: Bindubashini Govt Girls' High School, Tangail</li>
        <li>Year: 2017</li>
        <li>Group: General Science</li>
        <li>GPA: 5.00</li>
    </ul>
</ul>
