@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        font-family: 'Times New Roman', serif;
    }
</style>
<div>
    <div>
        <h4>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Mahjabin Mim</h4>
        <h4>Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 20-42231-1</h4>
        <h4>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: mahjabinmim711@gmail.com</h4>
        <h4>Contact No: 09101923747</h4>
    </div>
</div>


