@page
@model ProjectsModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        body {
            font-family: 'Times New Roman', serif;
        }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>OBJECT ORIENTED PROGRAMMING 1 (JAVA)</td>
            <td>Automated Air Traffic Controller System</td>
            <td>A system that control automatically the air traffic<br /></td>
        </tr>
        <tr>
            <td>INTRODUCTION TO DATABASE</td>
            <td>Online Art Gallery Management System</td>
            <td>An online platform where users can sell and buy arts.</td>
        </tr>
        <tr>
            <td>OBJECT ORIENTED ANALYSIS AND DESIGN</td>
            <td>Online Art Gallery Management System</td>
            <td>An online platform where users can sell and buy arts.</td>
        </tr>
        <tr>
            <td>SOFTWARE ENGINEERING</td>
            <td>Online Art Gallery Management System</td>
            <td>An online platform where users can sell and buy arts.</td>
        </tr>
        <tr>
            <td>ADVANCE DATABASE MANAGEMENT SYSTEM</td>
            <td>Online Art Gallery Management System</td>
            <td>An online platform where users can sell and buy arts.</td>
        </tr>
        <tr>
            <td>WEB TECHNOLOGIES</td>
            <td>Online Art Gallery Management System</td>
            <td>An online platform where users can sell and buy arts.</td>
        </tr>
        <tr>
            <td>COMPUTER GRAPHICS</td>
            <td>Footbal Play Ground</td>
            <td>A scenario of playing football in the ground.</td>
        </tr>
        <tr>
            <td>SOFTWARE DEVELOPMENT PROJECT MANAGEMENT</td>
            <td>Online Art Gallery Management System</td>
            <td>An online platform where users can sell and buy arts.</td>
        </tr>
        <tr>
            <td>MICROPROCESSOR AND EMBEDDED SYSTEMS	</td>
            <td>Intelligent Train Safety System</td>
            <td>A system that can detect potential train accidents and provide early warning signals to the train driver and control center.</td>
        </tr>
        <tr>
            <td>MACHINE LEARNING</td>
            <td>Online Art Gallery Management System</td>
            <td>An online platform where users can sell and buy arts.</td>
        </tr>
        <tr>
            <td>SOFTWARE QUALITY AND TESTING</td>
            <td>eStudent Management System</td>
            <td>The system can dynamically manage and save student, faculty, and teacher information.</td>
        </tr>
        <tr>
            <td>ADVANCED PROGRAMMING WITH .NET</td>
            <td>...............<br /></td>
            <td>...............<br /></td>
        </tr>
        <tr>
            <td>ADVANCED PROGRAMMING IN WEB TECHNOLOGY</td>
            <td>..............<br /></td>
            <td>..............<br /></td>
        </tr>
    </table>
</body>
</html>
