@page
@model ReferencesModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        font-family: 'Times New Roman', serif;
    }
</style>
<ol>
    <li>.....</li>
    <li>.....</li>
</ol>